@font-face {
  font-family: 'Anek Latin Variable';
  font-style: normal;
  font-display: optional;
  font-weight: 100 800;
  font-stretch: 75% 125%;
  src: url('./fonts/anek-latin-tr-ext.woff2') format('woff2-variations');
  unicode-range: U+011E-011F,U+0130,U+015E-015F;
}

@font-face {
  font-family: 'Anek Latin Variable';
  font-style: normal;
  font-display: optional;
  font-weight: 100 800;
  font-stretch: 75% 125%;
  src: url('./fonts/anek-latin-tr-latin.woff2') format('woff2-variations');
  unicode-range: U+0020-00FF,U+0131,U+2000-206F,U+20AC,U+2190-2199,U+2212,U+2215;
}
